@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

.col-12{
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #383838;
}

::-webkit-scrollbar-thumb{
  background: #8d8d8d;
}

::-webkit-scrollbar-thumb:hover{
  background: #718096;
}